snippet jq "value quotes" wA
"$1": "$2"
endsnippet

snippet jw "value without quotes" wA
"$1": $2
endsnippet

snippet jb "Braces" wA
"$1": {
  "$2": "$3"
}
endsnippet

snippet jk "Brakets" wA
"$1": [
  "$2": "$3"
]
endsnippet
