snippet h3 "###" b
### $1

$2
endsnippet


snippet h4 "####" b
#### $1

$2
endsnippet

snippet h5 "#####" b
#### $1

$2
endsnippet

snippet h6 "######" b
#### $1

$2
endsnippet

snippet * "**...**" b
** $1 **
endsnippet

snippet table "table 2 columns"
| $1      | $2      |
|---------|---------|
| $3
endsnippet

snippet kbd "Key icon" A
<kbd>$1</kbd>${2:+}
endsnippet



