snippet main "main function"
fn main() {
    ${1://code}
}
endsnippet

snippet pri "println" wA
println!("$1"$2);
endsnippet

snippet cra "extern create" wA
extern crate $1;
endsnippet

snippet fns "fn..(&self)" wA
fn $1(&self$2)
endsnippet

snippet vec "vector" wA
vec![$1];
endsnippet

snippet pan "panic" wA
panic!("$1");
endsnippet
